body {
    margin: 0;
}

#nav {
    background-color: #e1e1e1;
    display: flex;
    align-items: flex-start;
    position: fixed;
    width: 100%;
    top: 0;
}

#web-title {
    margin: 1em auto auto 2em;
    height: 2em;
}

#nav__items {
    margin: 1em 2em auto 0;
}

#nav__icon {
    display: none;
}

#nav__list {
    list-style: none;
    display: flex;
    margin: 0;
}

#nav__list__close-btn {
    display: none;
}

#nav__list li {
    margin-right: 3em;
}

#greeting {
    background-color: #b6d6e5;
    text-align: center;
    padding: 3em 0;
}

#section__title {
    text-align: center;
    margin: 2em 0;
}

.section__container {
    margin: 1.25rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    width: 1200px;
    box-sizing: border-box;
}

.hide {
    display: none;
}

.section__container__item {
    padding-top: 1rem;
    text-align: center;
    background-color: #667c87;
    width: calc(600px - 0.5rem);
    height: 150px;
}

#section__bottom {
    text-align: center;
}

#section__bottom button {
    margin: 1.25rem 0;
    height: 2rem;
    background-color: #b6d6e5;
    border: 0;
}

@media screen and (max-width:1200px) {
    .section__container {
        width: 94%;
    }

    .section__container__item {
        width: calc(50% - 0.5rem)
    }
}

@media screen and (max-width:800px) {

    #nav__items {
        margin-top: 0.5em;
    }

    #nav__list {
        /* height: 0; */
        /* overflow: hidden; */
        flex-direction: column;
        z-index: 0;
        background-color: white;
        transition: all 0.5s ease-in;
        position: fixed;
        height: 100vh;
        top: 0;
        right: 0;
        gap: 20px;
        padding: 15px 60px 15px 15px;
    }

    .menu-sm-hide {
        display: none !important;
    }

    #nav__icon {
        text-align: right;
        display: block;
        margin-left: auto;
        z-index: 2
    }

    #nav__list__close-btn {
        display: block;
        background-color: transparent;
        position: absolute;
        font-size: 20px;
        padding: 15px 20px;
        right: 0;
        top: 0;
        border: 0;
    }
}

@media screen and (max-width:500px) {
    .section__container__item {
        width: 100%;
    }
}