body {
  background-color: #f5f5f5;
  margin: 0 auto;
  font-family: 'Akshar', sans-serif;
  max-width: 550px;
  box-sizing: border-box;
}

::placeholder {
  color: #e6e6e6;
  font-style: italic;
}

ul {
  list-style: none;
}

.title {
  color:rgba(175, 47, 47, 0.15);
  font-size: 100px;
  margin: 0;
  text-align: center;
}

.main {
  display: block;
  background-color: white;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px, rgba(0, 0, 0, 0.1) 0px 25px 50px 0px;
}

.container-new-todo {
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px;
}

.new-todo__form {
  flex: 1;
}

.toggle-all {
  margin-left: 0;
  border: 0;
  background-color: transparent;
  transform: rotate(90deg);
}

.toggle-all::after {
  content: "â¯";
  font-size: 22px;
  color: #e6e6e6;
  padding: 10px 20px;
}

.new-todo {
  border: 0;
  font-size: 24px;
  color: rgb(77, 77, 77);
  width: 95%;
}
.new-todo:focus {
  outline: 0;
}

.container-todos {

  box-shadow: rgba(0, 0, 0, 0.1) 0px -1px 2px 1px;
  font-size: 24px;
}

.todos {
  padding: 0;
  margin: 0;
}

.todos>li {
  border-bottom: rgba(0, 0, 0, 0.1) 0.5px solid;
  display: flex;
}

.checkbox-round {
  margin: auto 12px;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background-color: gray;
}

.todo-content {
  display: inline-block;
  padding: 16px 0px;
  color: #555;
  margin-left: 10px;
  max-width: 80%;
  word-wrap:break-word
}

.completed {
  color: #d5d5d5;
  text-decoration-line: line-through;
}

.del-todo {
  margin-left: auto;
  background-color: transparent;
  border: 0;
  width: 50px;
  cursor: pointer;
}

.del-todo:hover::after {
  font-size: 18px;
  content: "X";
  color: rgb(200,50,50);
}

.todos-info {
  color: #888;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  box-shadow: 
      0 1px 1px rgb(0 0 0 / 20%),
      0 8px 0 -3px #f6f6f6,
      0 9px 1px -3px rgb(0 0 0 / 20%),
      0 16px 0 -6px #f6f6f6,
      0 17px 2px -6px rgb(0 0 0 / 20%);
}

.todos-left {
  margin: 15px 0px 0px 12px;
  width: 100px;
  float: left;
}

.todos-filter {
  padding: 12px 0px;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.todos-filter>li {
  padding: 3px 8px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 5px;
}

.todos-filter>li:not(.filter-selected):hover {
  border: 1px solid rgba(200,50,50, 0.1);
  border-radius: 5px;
}

li.filter-selected {
  border: 1px solid rgba(200,50,50, 0.3);
  border-radius: 5px;
}

.btn-clear-completed {
  margin-right: 10px;
  background-color: transparent;
  border: 0;
  color: #888;
  font-size: 14px;
  cursor: pointer;
}

.btn-clear-completed:hover {
  text-decoration-line:underline;
}

.footer {
  margin-top: 60px;
  text-align: center;
  font-size: 8px;
  color: rgba(80, 80, 80, 0.5)
}